apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: unifi-exporter-monitor
  namespace: monitoring
  labels:
    release: kube-prometheus-stack 
spec:
  selector:
    matchLabels:
      app: unifi-exporter
  endpoints:
  - port: http-metrics
    path: /metrics
    interval: 30s
